#visibleResult {
    display: flex;
    position: relative;
    top: 20em;
    left: 45em;
}

#result {
    font-size: 30px;
    margin-top: 3px;
    margin-left: 10px;
}
/* aggiunta piccola correzzione grafico a torta */
#myChart {
    padding: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
}
